.address-overall-container{
  background-color: #F6F5F5;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
    
}
.address-overall-container::-webkit-scrollbar {
  display: none; 
}
.addressInfoContainer {
    height: 100vh;
    width: 80%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    justify-content: flex-start;
    overflow-y: hidden;
    gap:15px;
  }
  .addressInfoItem{
    width: 100%;
  }
  .addvalue:focus {
    border-color: #A0A5BA; /* Change the border color when input is focused */
  }
  
  .addlabeladdress {
    color: #32343E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  
  .addvalueaddress {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #FFF;

  }

  .addvalueaddress12{
    width:100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;

  }


    
  .orderbtn36 {
    margin-top: 20px;
    color: #FFF;
    font-size: 15.448px;
    font-style: normal;
    font-weight: 600;
    border-radius: 30px;
    background: #7519EB;
    width: 100%;
    height: 70px;
    border: none;}
