.notification-overall-container{
    height: 100vh;
    overflow: scroll;
    padding-bottom: 70px;
    background-color: #F6F5F5;
    justify-content: center;
    align-items: center;
}
.overallframe {
    width: 80%;
    padding: 0 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left:
  }
  
  .notihead{
    display: flex;
    width: 100%;
    justify-content: space-between;  
    align-items: center; 
  }
  .notitext{
    font-size: 19.9px;
    font-weight: 500;
  }
  .clear{
    display: flex;
    color:blueviolet;
    font-size: 15px;
    align-items: flex-end;
    text-align: right;
  }

  .notification-overall{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .Notificationcell {
    width: 100%;
    height: auto;
    background: white;
    border-radius: 11.03px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 15px;
  }
  
  .Avatarandsubjectcontainer {
    align-self: stretch;
    width: 100%;
    padding-left: 12.76px;
    padding-right: 12.76px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
  }
  
  .Subjectlinecontainer {
    flex: 1 1 0;
    height: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
  }

  .Subjectmessagecontainer{
    font-size: 12px;
  }
  
  
  .Timestampcontainer {
    align-self: stretch;
    height: 16px;
    color: #A5ACB8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    font-size: 12px;
  }
  