.fnavbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    max-width: 450px;
    position:fixed;
    bottom: 0;
    gap:15%;
    background: linear-gradient(0deg, #FFFFFF, rgba(255, 255, 255, 0));
    
}