.profileeditcontainer{
  width:100%;
  background-color: white;
  height: 100vh;

}

.editUserFormContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width:80%;
    padding: 0 10%;
  }


  .User-image-edit{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .editUserInfoItem{
    margin-bottom: 15px;
  }
  .editvalue:focus {
    border-color: #A0A5BA; 
  }
  .editvalue::placeholder {
    color: #A0A5BA;
  }
  .editlabelprofile {
    word-wrap: 'break-word';
    color: #32343E;;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0 0 0;
  }
  
  .editlabel12{

  }
  
  .editvalue12 {
    width: 325px;
    height: 50px;
    font-size: 16px; 
    border: none;
    border-radius: 10px;
    background-color: #a2a1a145;
    margin: 10px 0 15px 0%;
    text-indent: 10px;
  }
  .editvalue::placeholder {
    color: #A0A5BA; /* Change placeholder text color */
    
  }
  .editvalue option {
    color: #A0A5BA; /* Example font color */
    padding: 5%; /* Example padding */
  }
  
  .FileUploadBaseprofile {
    width: 200px;
    padding: 10px;
    background: white;
    border-radius: 6.57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.19px;
    
    margin: 10px 0 15px 0;
  }
  
  .Content {
    align-items: center;
    height: 61.70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.57px;
  }
  
  .IconFrame {
  
    padding:6px;
    background: #E3FFF4;
    border-radius: 30.61px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.12px;
  }
  .Action{
      display: flex;
      font-size: 12px;
  }
  .ClickText{
      color:#0BCE83;
      font-weight: 500;
  } 
  .DragText{
      margin-left: 0px;
  }
  .SupportingText
  {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }

  .editUserbtn{
    background-color: blueviolet;
    padding: 15px 30px;
    width: fit-content;
    border-radius: 15px;
    color: white;
    border: none;
    margin-top: 15px;
    font-size: 15px;
  }
  
