.Frame48096279 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 15px;
    display: inline-flex;
}
.chattitle{
    display: flex;

}
.stars{
    margin-left: 2px;
}