.form-container-get-otp{
    position: absolute;
    animation: slideUp 1s forwards;
    width: 100%;
    max-width: 450px;
    height: 50%;
    background-color: #F6F5F5;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes slideUp {
    from {
      bottom: -50%;
    }
    to {
      bottom: 0;
    }
  }