.search-bar-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 10px;
    overflow: hidden;
    max-width: 40px; /* Initially, only show the search icon */
    transition: max-width 0.5s ease-in-out;
  }
  
  .search-form.expanded34 {
    max-width: 200px;
    background-color: #fff; 
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
    flex-grow: 1; 
    font-size: small;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    outline: none;
  }
  
  .fa-search { /* Style for the search icon */
    font-size: 20px;
  }
  