
.header12{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 450px;
    padding:5% 3% ;
    margin:0;
  }
 
  
.images1{
  width:7%;
  height: 30px;
  object-fit: contain;
  margin:0;
}

.logoimage{
 
  width: 50px;
  height:50px ;
  object-fit: contain;
  margin:0;
}