.expand-overall-container{
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url('../../Images/whitecommonbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.product-container12{
  width: 80%;
  padding: 0 10%;
}
.titleboxfarm{
    font-size: 18px;
    margin-top: 10%;
    color: rgba(32, 31, 32, 0.6);

}
.price{
    color:blueviolet;
    font-size: 18px;
    font-weight: 500;
}
.quantity-entry{
    display: flex;
    flex-direction: row;
}
.ColorText {
    color: rgba(32, 31, 32, 0.6);
    font-size: 18px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 22.07px;
    word-wrap: break-word;
  }
  
  .ColorTextSmall {
    color: rgba(32, 31, 32, 0.6);
    font-size: 12px;
    font-family: 'SF Pro Rounded';
    font-weight: 400;
    line-height: 22.07px;
    word-wrap: break-word;
  }
.buttondiv{
  width: 100%;
  gap:5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 50px;
}

  .reviewpopdiv {
    width: 80%;
    padding: 10%;
    height: 50vh;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .reviewtitle{
    color: '#000';
    font-size: 19.86px;
    font-weight: 600;
    word-wrap: break-word;
  }

  .farmdetailsdesc{
    display: flex;
    align-items: center;
    width:100%;
    margin-top: 20px;
    }
.reviewname{
   color:blueviolet;
    align-items: center;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 15px;
}
.review{
    color: #222;
font-size: 11px;
margin-top: 10px;
margin-left: 30px;
font-size: 15px;
}
.reviewdesc{
 align-items: center;
 justify-content: center;
 padding: 20px;
 font-size: 15px;
}
.rating{
    margin-left: 30px;
}

.farmer-user-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0.5px solid black;
    object-fit: cover;
}

.editproductbutton12{
    background-color: blueviolet;
    height: 50px;
    width: 60%;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteproductbutton{
  background-color: #FF4343;
  border-radius: 15px;
  height: 50px;
  width: 35%;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.confirmation-popup {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
  }
  
  .modal-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }