.seemore-overall-container{
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 0 10%;
    background-image: url('../../Images/whitecommonbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

  .Productlist12{
    height:100%;
    overflow: scroll;
  }
  .Productlist::-webkit-scrollbar {
    display: none; 
  }
  
  .Productcompset2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .Productbox{
    margin-top: 35px;
    padding:10px;
  }

.header212{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 80%;
    padding: 30px 10% 20px 10%;
    max-width: 450px;
    margin:0;
}

.cartimagecontainer{
  width:50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.cartimage{
  width:30px;
  height: 30px;
  object-fit: cover;
  margin:0;
}

.logoimageheader{
  width:50px;
  height: 50px;
  object-fit: cover;
  margin:0;
}