.LocationPage{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../../Images/Background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content:flex-end;
    align-items: center;
}

.manualbutton{
    color:#0BCE83;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 35px;
    margin-top: 10px;
    border: none;
   text-align: center;
    background-color: transparent;
}

.locationbox{
    width: 100%;

    
    margin-bottom: 40px;
    
}
.Sharelocation{
    color: #2D0C57;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding:  10px 50px 0px 50px;
    
}
.Locationdesc{
    line-height: 1.5;
    color:#868686;
    font-size: 18px;
    padding: 20px 50px 20px 50px;
}
.continuebutton{
    margin-top: 20px;
    margin-left: 18%;
    margin-right: 35px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    background-color: #0BCE83;
    padding: 20px 20%;
    border-radius: 30px;
    border: none;
}
